@charset "UTF-8";
:root {
  --brand-color: #2196f3;
  --hover-bnt: #188ce8;
  --color-main: #212121;
  --color-grey: #757575;
  --color-wight: #ffffff;
  --font-main: "roboto";
  --font-logo: "raleway";
  --bgc: #2f303a;
  --bgc-lighter: #f5f4fa;
  --link-address: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--font-main), sans-serif;
  color: var(--color-main);
  background-color: var(--color-wight);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 50px;
}

.logo {
  font-family: var(--font-logo), sans-serif;
  font-weight: 700;
  color: var(--color-main);
  text-decoration: none;
  margin-right: 93px;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo--blue {
  color: var(--brand-color);
}

.logo--white {
  color: var(--color-wight);
}

.modal-btn {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--color-wight);
  background-color: var(--brand-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus, .modal-btn:hover {
  background-color: var(--hover-bnt);
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #b1b8af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--color-wight);
  background-color: var(--brand-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background: var(--color-wight);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  cursor: pointer;
  background: var(--color-wight);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn:hover .close-btn__img,
.close-btn:focus .close-btn__img {
  fill: var(--brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 42px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: none;
  border-color: var(--brand-color);
}

/* .modal__field {
  position: relative;
} */
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-grey);
}

.modal__icon-box {
  position: relative;
}

.modal__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--brand-color);
}

/* .modal__input:focus:not(:placeholder-shown):valid {
  border-color: var(--brand-color);
}
.modal__input:focus:not(:placeholder-shown):invalid {
  border-color: rgba(33, 33, 33, 0.2);
} */
/* .modal__input:focus:valid {
  border-color: var(--brand-color);
}
.modal__input:focus:invalid {
  border-color: rgba(33, 33, 33, 0.2);
} */
.modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.checkbox__input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__link {
  color: var(--brand-color);
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-main);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 13px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:focus + .checkbox__icon {
  border: 2px solid var(--brand-color);
}

.modal__btn-submit {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-wight);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-submit:hover, .modal__btn-submit:focus {
  background-color: var(--hover-bnt);
}

.section-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.section-header__conteiner {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: var(--color-main);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--brand-color);
}

.menu__link--current {
  color: var(--brand-color);
}

.menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  left: 0;
  top: 46px;
  border-radius: 2px;
}

.section-header__contacts {
  display: flex;
  margin-left: auto;
}

.section-header__item:not(:last-child) {
  margin-right: 50px;
}

.section-header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  display: inline-flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-header__link:hover, .section-header__link:focus {
  color: var(--brand-color);
}

.section-header__icon {
  margin-right: 10px;
  fill: menu__link--currentColor;
}

/*================ вариант 1 =========== */
/* .section-header__icon {
  fill: $color-grey;
  margin-right: 10px;
}
.section-header__link:hover .section-header__icon,
.section-header__link:focus .section-header__icon {
  fill: $brand-color;
} */
/*================ вариант 2 =========== */
.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0px auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-color: #c4c4c4;
}

.section-hero__conteiner {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.section-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-wight);
  margin-bottom: 30px;
}

.features {
  padding-bottom: 0;
}

.features__icon {
  width: 70px;
  height: 70px;
  /* display: block; */
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--bgc-lighter);
  border-radius: 4px;
}

.features__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.features__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 10px;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.doing__list {
  display: flex;
  /* justify-content: space-between; */
  margin-left: -30px;
  margin-top: -30px;
}

.doing__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.thumb-card {
  position: relative;
}

.thumb-card__overlay {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wight);
}

.doing__conteiner {
  padding-top: 0;
}

.team {
  background-color: var(--bgc-lighter);
}

.team__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background: var(--color-wight);
}

.team__members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-main);
  margin-bottom: 10px;
}

.team__description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.clients__item {
  display: flex;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
}

/* <!--========= address ============ --> */
.address {
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-address);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--bgc-lighter);
}

.address__link--map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-wight);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--map:hover, .address__link--map:focus {
  color: var(--bgc-lighter);
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
}

.social-box {
  display: block;
  /* align-items: baseline; */
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer__subtitle {
  display: block;
  margin-bottom: 20px;
  color: var(--color-wight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list__link--footer {
  color: var(--color-wight);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__form {
  display: flex;
}

.footer__form-box {
  width: 570px;
  height: 86px;
  /* margin-left: 93px; */
  margin-left: auto;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bgc);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  transition: drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus, .footer__input:hover {
  outline: none;
  border-color: var(--brand-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer__btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--color-wight);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn:hover, .footer__btn:focus {
  background-color: var(--hover-bnt);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  background-color: var(--bgc-lighter);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-main);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus, .filter__btn:hover {
  background-color: var(--brand-color);
  color: var(--color-wight);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card__box {
  padding: 20px 24px;
  background: var(--color-wight);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-main);
}

.card__descrip {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.card__link {
  display: block;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--color-wight);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */