// $brand-color: #2196f3;
// $hover-bnt: #188ce8;
// $color-main: #212121;
// $color-grey: #757575;
// $color-wight: #ffffff;
// $font-main: "roboto";
// $font-logo: "raleway";
// $bgc: #2f303a;
// $bgc-lighter: #f5f4fa;
// $link-address: rgba(255, 255, 255, 0.6);

:root {
  --brand-color: #2196f3;
  --hover-bnt: #188ce8;
  --color-main: #212121;
  --color-grey: #757575;
  --color-wight: #ffffff;
  --font-main: "roboto";
  --font-logo: "raleway";
  --bgc: #2f303a;
  --bgc-lighter: #f5f4fa;
  --link-address: rgba(255, 255, 255, 0.6);
}
